* {
  box-sizing: inherit;
  font-family: "Noto Sans JP";
}

body {
  margin: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-style: normal;
}

/* Font */
@font-face {
  font-family: "SVN-Gilroy";
  font-style: normal;
  font-weight: 300;
  src: local("SVN-Gilroy"), url("https://fonts.cdnfonts.com/s/32660/SVNGilroy Light.woff") format("woff");
}
@font-face {
  font-family: "SVN-Gilroy";
  font-style: normal;
  font-weight: 700;
  src: local("SVN-Gilroy"), url("https://fonts.cdnfonts.com/s/32660/SVNGilroy Bold.woff") format("woff");
}
/*--------------- Responsive --------------------------*/
@media screen and (max-width: 546px) {
  .wrapper {
    width: 90%;
  }
}

/*---------- Header----------------------- */
.header {
  position: fixed;
  z-index: 10;
  height: 12.2rem;
  background: rgba(255, 255, 255, 0.65);
  box-shadow: 0px 1px 14px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 546px) {
  .header {
    height: 6.9rem;
    background: #FFFFFF;
  }
}
.header .header-nav .container {
  padding: 3rem 0;
  z-index: 10;
}
@media screen and (max-width: 546px) {
  .header .header-nav .container {
    padding: 1.2rem 0;
    width: 90%;
    justify-content: space-between;
  }
}
@media screen and (max-width: 546px) {
  .header .header-nav .container .toggle {
    display: block;
    width: 3.5rem;
    height: 3.7rem;
    padding: 0;
    border: 0;
    background: transparent;
    position: unset;
  }
  .header .header-nav .container .toggle button {
    width: 3.5rem;
    height: 3.7rem;
    background: transparent;
  }
}
.header .header-nav .container .header-logo {
  margin-right: 3rem;
}
@media screen and (max-width: 546px) {
  .header .header-nav .container .header-logo {
    width: 100%;
    justify-content: center;
    margin-right: 0;
    position: absolute;
    right: 0;
  }
}
.header .header-nav .container .header-logo img {
  width: 6.1rem;
  height: 6.1rem;
  object-fit: contain;
}
@media screen and (max-width: 546px) {
  .header .header-nav .container .header-logo img {
    width: 4.7rem;
    height: 4.5rem;
  }
}
.header .header-nav .container .header-logo p {
  font-weight: 700;
  font-size: 2rem;
  color: #000000;
}
.header .header-nav .container .header-search {
  width: 30%;
  max-width: 37.4rem;
  height: 4.5rem;
}
.header .header-nav .container .header-search form {
  height: 4.5rem;
}
.header .header-nav .container .header-search form input {
  background: #FFFFFF;
  border: 0.1rem solid #D4D4D4;
  border-radius: 0.4rem;
  padding: 0 3.2rem 0 2rem;
}
.header .header-nav .container .header-search form input::placeholder {
  font-weight: 500;
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  margin-left: 2rem;
}
@media screen and (max-width: 546px) {
  .header .header-nav .container .header-search form input {
    display: none;
  }
  .header .header-nav .container .header-search form input .display {
    display: block;
  }
}
.header .header-nav .container .header-search form button {
  background: transparent;
  padding: 0 1.5rem;
}
@media screen and (max-width: 546px) {
  .header .header-nav .container .header-search form button {
    padding: 0;
    width: 3.5rem;
  }
}
.header .header-nav .container .header-search form button img {
  transform: translate(-50%, -50%);
}
.header .header-nav .container .header-btn {
  right: 18.7rem;
}
@media screen and (max-width: 546px) {
  .header .header-nav .container .header-btn {
    display: none;
  }
}
.header .header-nav .container .header-btn .btn-top {
  font-weight: 500;
  font-size: 1.5rem;
  color: #212121;
  width: 5.1rem;
  height: 3.1rem;
  line-height: 3.1rem;
  border-radius: 0.3rem;
  background: transparent;
}
.header .header-nav .container .header-btn .btn-create-blog {
  font-weight: 500;
  font-size: 1.5rem;
  color: #212121;
  width: 8.6rem;
  height: 2.4rem;
  margin-left: 2.7rem;
  line-height: 2.2rem;
  background: transparent;
}
@media screen and (max-width: 546px) {
  .header .header-nav .container .header-account {
    display: none;
  }
}
.header .header-nav .container .header-account .name-account {
  font-weight: 500;
  font-size: 1.5rem;
  color: #212121;
}
.header .header-nav .container .header-account .btn-account {
  width: 2.7rem;
  height: 2.7rem;
  margin: 0 0.75rem 0 1.7rem;
  background: transparent;
}
@media screen and (max-width: 546px) {
  .header .header-nav .container .display {
    display: block;
    width: 100%;
  }
  .header .header-nav .container .hide {
    display: none;
  }
}

/*---------- Breadcrumb-------------------------- */
.bread-crumb nav {
  width: 14.7rem;
  height: 2.3rem;
  --bs-breadcrumb-divider: ">";
  margin-top: 15.6rem;
}
.bread-crumb nav .breadcrumb-item {
  font-weight: 400;
  font-size: 1.6rem;
  color: #212121;
  line-height: 23px;
}
.bread-crumb nav .breadcrumb-item::before {
  color: #A19F9F;
}
.bread-crumb nav .breadcrumb-item a {
  text-decoration: none;
  color: #AFAFAF;
}

/* ---------------Title------------------------ */
.title {
  margin-top: 4rem;
  margin-bottom: 4rem;
  font-weight: 700;
  font-size: 1.8rem;
  color: #000000;
  line-height: 26px;
}

/* ---------------Content------------------------*/
.content .container {
  margin-bottom: 2.6rem;
}
.content .container.information .author img {
  margin-right: 0.8rem;
}
.content .container.information .author .text p.name {
  font-weight: 500;
  font-size: 1.2rem;
  color: #000000;
  line-height: 1.7rem;
}
.content .container.information .author .text p.date-create {
  font-weight: 400;
  font-size: 1.1rem;
  color: #A7A7A7;
  line-height: 1.6rem;
}
.content .container.information .upload button.not-approved {
  width: 11rem;
  height: 3.1rem;
  border-radius: 3px;
  font-weight: 500;
  font-size: 1.5rem;
  color: #FFFFFF;
  margin-top: -0.5rem;
}
@media screen and (max-width: 546px) {
  .content .container.information .upload button.not-approved {
    width: 10.7rem;
    margin-top: 0;
  }
}
.content .container.information .upload button.delete-blog {
  width: 10.4rem;
  height: 3.1rem;
  background: #DC3545;
  border-radius: 3px;
  font-weight: 500;
  font-size: 1.5rem;
  color: #FFFFFF;
  margin-top: -0.5rem;
  margin-left: 3.1rem;
}
@media screen and (max-width: 546px) {
  .content .container.information .upload button.delete-blog {
    width: 9.5rem;
    margin-left: 1.3rem;
    margin-top: 0;
  }
}
.content .container.article img {
  margin-bottom: 4rem;
  object-fit: contain;
}
.content .container.article p {
  font-weight: 400;
  font-size: 1.4rem;
  color: #747474;
  line-height: 2rem;
}
.content .container.article-related p {
  font-weight: 700;
  font-size: 2.4rem;
  color: #212121;
  line-height: 3.5rem;
}
.content .container.article-related .change-line {
  width: 6.3rem;
  border-bottom: 0.3rem solid #747474;
  right: -50%;
  transform: translateX(-50%);
}
.content .container.article-related .grid {
  margin-top: 2.3rem;
  margin-bottom: 8.1rem;
  background: #FFFFFF;
  gap: 3.6rem;
}
@media screen and (max-width: 546px) {
  .content .container.article-related .grid {
    gap: 2.4rem;
  }
}
.content .container.article-related .grid .post {
  background: #FFFFFF;
  border: 0.1rem solid #CCCCCC;
  border-radius: 0.8rem;
  --bs-gap: 5rem;
  border: 0.1rem solid #CCCCCC;
}
.content .container.article-related .grid .post img {
  object-fit: contain;
}
.content .container.article-related .grid .post p {
  font-weight: 700;
  font-size: 1.7rem;
  color: #000000;
  line-height: 2.8rem;
  width: 90%;
  margin: 1.5rem 5% 3.5rem 5%;
}

/* ---------------Comment------------------------*/
.comment.container {
  margin-bottom: 5rem;
}
.comment.container img {
  width: 4.8rem;
  height: 4.8rem;
  margin-right: 1.7rem;
  object-fit: contain;
}
@media screen and (max-width: 546px) {
  .comment.container img {
    width: 3.6rem;
    height: 3.6rem;
  }
}
.comment.container .area-comment {
  margin-bottom: 2.2rem;
}
.comment.container .area-comment textarea {
  width: 123rem;
  resize: none;
  background: #FFFFFF;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
}
@media screen and (max-width: 546px) {
  .comment.container .area-comment textarea {
    height: 5.5rem;
    width: 40.3rem;
  }
}
.comment.container .comment-writed {
  margin: 0 0 0.6rem 0;
}
.comment.container .comment-writed .user-name {
  font-weight: 700;
  font-size: 2.4rem;
  color: #212121;
  line-height: 3.5rem;
  margin-top: 0.6rem;
  width: 15.3rem;
}
.comment.container .comment-writed .comment-content, .comment.container .comment-writed .time-comment {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
}
.comment.container .comment-writed .time-comment {
  color: #747474;
  justify-content: space-between;
}
.comment.container .comment-writed .time-comment a {
  text-decoration: none;
  color: #747474;
}

/*--------------- Footter --------------------------*/
footer {
  padding: 2.25em;
  background: #000000;
  bottom: 0;
  font-weight: 500;
  font-size: 1.5rem;
  color: #FFFFFF;
  line-height: 2.2rem;
}

/*--------------- Animation --------------------------*/
.header.scroll-up {
  height: 12.2rem;
  overflow: hidden;
  animation: scroll-up ease 0.3s;
  animation-fill-mode: forwards;
}
@media screen and (max-width: 546px) {
  .header.scroll-up {
    height: 6.9rem;
  }
}

.header.scroll-down {
  height: 12.2rem;
  overflow: hidden;
  animation: scroll-down ease 0.3s;
  animation-fill-mode: forwards;
}
@media screen and (max-width: 546px) {
  .header.scroll-down {
    height: 6.9rem;
  }
}

@keyframes scroll-down {
  from {
    height: 0;
  }
  to {
    height: 12.2rem;
  }
}
@keyframes scroll-up {
  from {
    height: 12.2rem;
  }
  to {
    height: 0;
  }
}
@media screen and (max-width: 546px) {
  @keyframes scroll-down {
    from {
      height: 0;
    }
    to {
      height: 6.9rem;
    }
  }
  @keyframes scroll-up {
    from {
      height: 6.9rem;
    }
    to {
      height: 0;
    }
  }
}

/*# sourceMappingURL=style.css.map */
