@import "_variables";
@import "_base";
@import "_mixins";

    /*--------------- Responsive --------------------------*/
    .wrapper {
        width: 100%;
        padding: 0;
        margin:0 auto;
        @include mobile {
            width: 90%;
        }
    }

    /*---------- Header----------------------- */
    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
        height: $height-header;
        background: rgba(255, 255, 255, 0.65);
        box-shadow: 0px 1px 14px rgba(0, 0, 0, 0.25);
        @include mobile {
            height: $height-header-mobile;
            background: #FFFFFF;
        }
        .header-nav {
            height: 100%;
            .container {
                padding: $padding-top-and-bottom-header 0;
                height: 100%;
                position: relative;
                z-index: 10;
                align-items: center;
                @include mobile {
                    padding: $padding-top-and-bottom-header-mobile 0;
                    align-items: center;
                    width: 90%;
                    justify-content: space-between;
                }
                .toggle {
                    display: none;
                    @include mobile {
                        display: block;
                        width: 3.5rem;
                        height: 3.7rem;
                        padding: 0;
                        border: 0;
                        background: transparent;
                        position: unset;
                        button {
                            width: 3.5rem;
                            height: 3.7rem;
                            padding: 0;
                            border: 0;
                            background: transparent;
                        }
                    }
                }   
                .header-logo {
                    margin-right: 3rem;
                    @include mobile {
                        width: 100%;
                        justify-content: center;
                        margin-right: 0;
                        position: absolute;
                        right: 0;
                    }
                    img {
                        width: 6.1rem;
                        height: 6.1rem;
                        object-fit: contain;
                        @include mobile {
                            width: 4.7rem;
                            height: 4.5rem;  
                        }
                    }
                    p {
                        margin: auto 0;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 2rem;
                        color: #000000;
                    }
                }
                .header-search {
                    width: 30%;
                    max-width: 37.4rem;
                    height: 4.5rem;
                    position: relative;
                    margin: auto 0;
                    form {
                        height: 4.5rem;
                        position: relative;
                        input {
                            position: relative;
                            height: 100%;
                            width: 100%;
                            margin: auto 0;
                            background: #FFFFFF;
                            border: 0.1rem solid #D4D4D4;
                            border-radius: 0.4rem;
                            padding: 0 3.2rem 0 2rem;
                            &::placeholder {
                                font-style: normal;
                                font-weight: 500;
                                font-size: 1.5rem;
                                position: absolute;
                                top: 50%;
                                left: 0;
                                transform: translateY(-50%);
                                margin-left: 2rem;
                            }
                            @include mobile {
                                display: none;
                                .display {
                                    display: block;
                                }
                            }
                        }   
                        button {
                            height: 100%;
                            position: absolute;
                            top: 0;
                            right: 0;
                            background: transparent;
                            border: 0;
                            padding: 0 1.5rem;
                            @include mobile {
                                padding: 0;
                                width: 3.5rem;
                            }   
                            img {
                                position: absolute;
                                top: 50%;
                                right: 0;
                                transform: translate(-50%, -50%);
                            }
                        }
                    }
                }
                .header-btn {
                    position: absolute;
                    right: 18.7rem;
                    @include mobile {
                        display: none;
                    }
                    .btn-top {
                        width: 5.1rem;
                        height: 3.1rem;
                        line-height: 3.1rem;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 1.5rem;
                        color: #212121;
                        padding: 0px;
                        border: 0;
                        border-radius: 0.3rem;
                        background: transparent;
                        text-align: center;
                    }
                    .btn-create-blog {
                        width: 8.6rem;
                        height: 2.4rem;
                        font-weight: 500;
                        font-size: 1.5rem;
                        color: #212121;
                        padding: 0px;
                        margin-left: 2.7rem;
                        text-align: center;
                        line-height: 2.2rem;
                        background: transparent;
                        border: 0;
                    }
                }
                .header-account {
                    position: absolute;
                    right: 0;
                    padding: auto 0;
                    @include mobile {
                        display: none;
                    }
                    .name-account {
                        display: inline;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 1.5rem;
                        color: #212121;
                        vertical-align: middle;
                    }
                    .btn-account {
                        width: 2.7rem;
                        height: 2.7rem;
                        margin: 0 0 0 1.7rem;
                        background: transparent;
                        padding: 0;
                        border: 0;   
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
                @include mobile {
                    .display {
                        display: block;
                        width: 100%;
                    }
                    .hide {
                        display: none;
                    }
                }
            }
        }
    }

    /*---------- Breadcrumb-------------------------- */
    .bread-crumb {
        nav {
            width: 14.7rem;
            height: 2.3rem;
            --bs-breadcrumb-divider: '>';
            margin-top: 15.6rem;
            margin-bottom: 0;
            .breadcrumb-item {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 23px;
                color: #212121;
                &::before {
                    color:#A19F9F;
                }
                a {
                    text-decoration: none;
                    color: #AFAFAF;
                }
            }
        }
    }

    /* ---------------Title------------------------ */
    .title {
        margin-top: 4rem;
        margin-bottom: 4rem;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        color: #000000;
    }

    /* ---------------Content------------------------*/
    .content {
        .container {
            margin-bottom: 2.6rem;
        }
        .container.information {
            .author {
                img {
                    margin-right: 0.8rem;
                }
                .text {
                    p.name {
                        margin: 0;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 17px;
                    }
                    p.date-create {
                        margin: 0;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 11px;
                        line-height: 16px;
                        color: #A7A7A7;
                    }
                }
            }
            .upload {
                button.not-approved {
                    width: 11rem;
                    height: 3.1rem;
                    border-radius: 3px;
                    border: 0;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 1.5rem;
                    color: #FFFFFF;
                    padding: 0;
                    margin-top: -0.5rem;
                    @include mobile {
                        width: 10.7rem;
                        margin-top: 0;
                    }
                }
                button.delete-blog {
                    width: 10.4rem;
                    height: 3.1rem;
                    background: #DC3545;
                    border-radius: 3px;
                    border: 0;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 1.5rem;
                    color: #FFFFFF;
                    padding: 0;
                    margin-top: -0.5rem;
                    margin-left: 3.1rem;
                    @include mobile {
                        width: 9.5rem;
                        margin-left: 1.3rem;
                        margin-top: 0;
                    }
                }
            }
        }
        .container.article {
            img {
                margin-bottom: 4rem;
                width: 100%;
                object-fit: contain;
            }
            p {
                font-style: normal;
                font-weight: 400;
                font-size: 1.4rem;
                line-height: 2rem;
                color: #747474;
            }
        } 
        .container.article-related {
            p {
                text-align: center;
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 35px;
                color: #212121;
            }
            img.line {
                position: relative;
                right: -50%;
                transform: translateX(-50%);
            }
            .grid {
                margin-top: 2.3rem;
                margin-bottom: 8.1rem;
                background: #FFFFFF;
                gap: 3.6rem;
                @include mobile {
                    gap: 2.4rem;
                }
                .post {
                    background: #FFFFFF;
                    border: 0.1rem solid #CCCCCC;
                    border-radius: 0.8rem;
                    --bs-gap: 5rem;
                    border: 0.1rem solid #CCCCCC;
                    border-radius: 0.8rem;
                    img {
                        width: 100%;
                        object-fit: contain;
                    }
                    p {
                        font-style: normal;
                        font-weight: 700;
                        font-size: 1.7rem;
                        line-height: 2.8rem;
                        width: 90%;
                        margin: 1.5rem 5% 3.5rem 5%;
                        text-align: left;
                    }
                }
            }
        }      
     }
    /* ---------------Comment------------------------*/
    .comment.container {
        margin-bottom: 5rem;
        img {
            width: 4.8rem;
            height: 4.8rem;
            margin-right: 1.7rem;
            object-fit: contain;
            @include mobile {
                width: 3.6rem;
                height: 3.6rem;
            }
        }
        .area-comment {
            align-items: center;
            margin-bottom: 2.2rem;;
            textarea {
                height: 8.2rem;
                width: 123rem;
                resize: none;
                background: #FFFFFF;
                border: 1px solid #E1E1E1;
                border-radius: 4px;
                @include mobile {
                    height: 5.5rem;
                    width: 40.3rem;
                }
            }
        }
        .comment-writed {
            margin: 0 0 0.6rem 0;
            font-style: normal;
            .user-name {
                font-weight: 700;
                font-size: 2.4rem;
                line-height: 3.5rem;
                color: #212121;
                margin-top: 0.6rem;
                width: 15.3rem;
            } 
            .comment-content, .time-comment {
                font-weight: 400;
                font-size: 1.4rem;
                line-height: 2rem;
            }
            .time-comment {
                color: #747474;
                justify-content: space-between;
                a {
                    text-decoration: none;
                    color: #747474;
                }
            }
        }
    }

    /*--------------- Footter --------------------------*/
    footer {
        width: 100%;
        padding: 2.25em;
        background: #000000;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 0;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        color: #FFFFFF;
    }

    /*--------------- Animation --------------------------*/
    .header.scroll-up {
        height: $height-header;
        overflow: hidden;
        animation: scroll-up ease .3s;
        animation-fill-mode: forwards;
        @include mobile {
            height: $height-header-mobile;
        }
    }
    .header.scroll-down {
        height: $height-header;
        overflow: hidden;
        animation: scroll-down ease .3s;
        animation-fill-mode: forwards;
        @include mobile {
            height: $height-header-mobile;
        }
    }
    @include keyframes(scroll-down) {
        from {
            height: 0;
        }   
        to {
            height: $height-header;
        }
    }
    @include keyframes(scroll-up) {
        from {
            height: $height-header;
        }  
        to {
            height: 0;
        }
    }
    @include mobile {
        @include keyframes(scroll-down) {
            from {
                height: 0;
            }
            to {
                height: $height-header-mobile;
            }
        }
        @include keyframes(scroll-up) {
            from {
                height: $height-header-mobile;
            }
            to {
                height: 0;
            }
        }
    }
 